<h1> <span style = "color: #F33C29;">U</span>
  <span style = "color: #F37229;">n</span>
  <span style = "color: #F3DE29;">i</span>
  <span style = "color: #78EF1B;">c</span>
  <span style = "color: #43F0E0;">o</span>
  <span style = "color: #3574EC;">r</span>
  <span style = "color: #944BF1;">n</span>
  <span style = "color: #F37229;">W</span>
  <span style = "color: #F3DE29;">o</span>
  <span style = "color: #78EF1B;">r</span>
  <span style = "color: #43F0E0;">l</span>
  <span style = "color: #3574EC;">d</span> </h1>

<h2> Are you a fan of unicorns? </h2>

<form method="POST" action="/glitter">
  <p>Yes or No? <input type="text" name="yes"></p>
  <input type="submit">
</form>

<style>
h1 {font-size: 75px;}
